.sidebar {
    background-color: #0B1215;
    color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navItemWrapper {
    width: 80%;
    border-radius: 20px;
    margin: 5px 0;
  }
  
  .navItem {
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    transition: color 0.3s ease;
  }
  
  .navItem:hover {
    color: #ffffff;
  }
  
  .navItem.active {
    font-weight: bolder;
    font-size: 1.8rem;
  }
  
  