.sidebar {
	background-color: #000;
	color: white;
	width: 18%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', serif;
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	font-weight: 100;
	font-style: normal;
	z-index: 251;
}

.navContainer {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	flex: 1;
	padding: 2rem 0;
	gap: 1rem;
}

@media screen and (max-height: 768px) {
	.navContainer {
		margin-top: 0;
		padding: 1rem 0;
	}
}

.navItemWrapper {
	width: 90%;
	border-radius: 2rem;
	margin: 0.75rem 0.25rem;
	margin-left: 20px;
}

.navItem {
	background: none;
	border: none;
	color: white;
	font-size: 1.3rem;
	cursor: pointer;
	padding: 0.75rem 1rem;
	width: 100%;
	text-align: left;
	font-family: 'Poppins', serif;
	transition: color 0.25s ease;
}

.navItem:hover {
	color: #ffffff;
}

.navItem svg {
	margin-bottom: -0.25rem;
	margin-right: 0.25rem;
}

.navItem.active {
	font-size: 1.3rem;
	background-color: #fff;
	color: #000;
	border-radius: 2rem;
}

.sidebarFooter {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.pillButton {
	background-color: #222;
	border: none;
	color: white;
	font-size: 0.9rem;
	cursor: pointer;
	padding: 8px 20px;
	width: 100%;
	max-width: 100%;
	text-align: left;
	border-radius: 50px;
	margin: 5px 0;
	display: flex;
	align-items: center;
	transition: background-color 0.25s ease;
}

.userContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}

.logoutButton {
	position: absolute;
	top: -60px;
	transform: translateX(-50%);
	background-color: #222;
	border: none;
	color: white;
	font-size: 0.9rem;
	cursor: pointer;
	padding: 10px 20px;
	width: 100%;
	text-align: left;
	border-radius: 50px;
	margin: 5px 0;
	display: flex;
	align-items: center;
	transition: background-color 0.25s ease, opacity 0.25s ease;
}

.logoutButton span {
	margin-left: 0.5rem;
}

.name {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.userInfo {
	font-family: 'Poppins', sans-serif;
	flex: 1;
	margin-left: 0.125rem;
	overflow: hidden; 
	display: flex;
	flex-direction: column;
	min-width: 0;
} 

.identifier {
	font-size: 0.8rem;
	color: #ccc;
	opacity: 0.6;
}
.hamburgerButton {
	display: none;
	background: none;
	border: none;
	color: rgb(0, 0, 0);
	cursor: pointer;
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 300;
  }
  
  @media screen and (max-width: 768px) {
	.hamburgerButton {
	  display: block;
	}
  
	.sidebar {
	  position: fixed;
	  top: 0;
	  left: -100%;
	  height: 100vh;
	  width: 70%;
	  transition: left 0.3s ease;
	  z-index: 250;
	}
  
	.sidebar.visible {
	  left: 0;
	}
  
	.navContainer {
	  margin-top: 0;
	  padding-top: 2rem;
	}
  }