* {
	margin: 0;
	padding: 0;
}
.chatsystem {
	display: flex;
	flex-direction: row;
}

.loginbutton {
	display: flex;
	height: 98vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.pill {
	width: 15rem;
}
