.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	background-color: #f8fafc;
	color: black;
}

.content {
	display: flex;
	flex: 1;
	overflow: hidden;
	position: relative;
}

.main {
	flex-grow: 1;
	width: 100%;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	overflow-y: auto;
	transition: margin-left 0.3s ease-in-out;
	position: relative;
}

.mainCollapsed {
	margin-left: 80px;
}
.mainExpanded {
	margin-left: 18%;
}

@media screen and (max-width: 768px) {
	.main {
		margin-left: 0 !important;
	}
}
